#site{
    width: 1000px;
    height: 700px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #6666;
}
#header{
    width: 1000px;
    height: 100px;
    background-color: #F4D03F;
}
#conteudo{
    width: 1000px;
    height: 500px;
    background-color: #0BF8E2;
}
#conteudo-left{
    width: 500px;
    height: 500px;
    float: left;
    background-color: #E59866;
}

#conteudo-right{
    width: 500px;
    height: 250px;
    float: left;
    background-color: #BFC9CA;
}
#footer{
    width: 1000px;
    height: 100px;
    background-color: #c3c;
}
h1{
    text-align: center;
    font-family: verdana;
    font-size: 70px;
    margin-top: 0px;
    color: ;
}
h2{
    font-size: 20px;
    color: #BD0505;
    font-weight: bolder;
    text-align: center;
    
}
.num1{
    margin-left: -100px;
    font-size: 18px;
    font-weight: bold;
    color: black;  
}
.num2{
    margin-left: -80px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.num3{
    margin-left: -160px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.num4{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num5{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num6{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num7{
    margin-left: -100px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num8{
    margin-left: -180px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num9{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num10{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.num11{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.triangulo{
    margin-left: -80px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}

input:hover{
    background-color: #AAB7B8;       
}
input{
    border-radius: 0%;
    border-color: black;
    font-size: 15px;
    position: absolute;
    text-align: center;
    font-family: verdana;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
}

button{
    color: #ffffff;
    background-color: #1672af;
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20%;
}
.limpar{
    background-color:#145A32;
}
.novoCalculo{
    background-color:#145A32;
}
.novo{
    background-color:#145A32;
}
.calcularOutro{
    background-color:#145A32;
    
}

body{
    /*background-color:#C7C4C4;*/
    text-align: center;
}